body {
  margin: 10px;
  padding: 0px;
}
h1 {
  margin: 4px;
  font-size: 16px;
  font-family: sans-serif;
}
p.note {
  margin: 4px;
  padding: 4px;
  font-size: 12px;
  font-family: sans-serif;
  background-color: #ddd;
}

#svg-container {
  margin-top: 10px;
  width: 700px;
  height: 400px;
  background-color: #eee;
  border: 1px solid #ccc;
}

#svg-container svg {
  width: 100%;
  height: 100%;
}

rect.eco {
  fill: #0a0;
  stroke-width: 10px;
  stroke: #080;
}

circle.sun {
  fill: #ff0;
  stroke-width: 30px;
  stroke: #ffa;
}

line {
  stroke-width: 15px;
  stroke: #f00;
}